html { font-family:verdana,arial,sans-serif; background: #336699; }
html, body { padding: 0; margin: 0; overflow:hidden; }
svg { width: 640px; height: 480px;}
h1 { color:#ccc; background:black; width:100%; margin:0; font-size:16pt; padding:11px; }
h1 strong { color:white; }
